.App {
    font-family: "Lato", sans-serif;
    padding: 20px;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
  }
  
  .pl-20 {
    padding-left: 20px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .p-20 {
    padding: 20px;
  }
  
  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
  }
  
  .button {
    background-color: #ffffff;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 3px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
      transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    margin-left: 20px;
  }
  
  .button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }
  
  .button:active {
    background-color: #f7f7f7;
    border-color: #000000;
    transform: scale(0.96);
  }
  
  .button:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
  
  .card {
    color: "white";
    border-radius: 30px;
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b6fbff,
      #83a4d4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .audio {
    cursor: pointer;
    border-radius: 200px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
  }
  
  .audio:hover {
    background-color: #83a4d4;
    color: white;
    border: none;
  }
  