.App {
    text-align: center;
    font-family: arial;
    display: flex;
    background-color: aliceblue;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url('../src/Assect/fgg.jpg'); */
}

.Menu {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: -webkit-linear-gradient(rgb(194, 200, 231), rgb(139, 168, 232));
    /* background: -webkit-linear-gradient(rgb(245, 167, 217), rgb(16, 237, 178)); */
    /* background-color: lightseagreen; */

    display: flex;
    flex-direction: column;
    /* border: 10px dotted currentColor; */
    justify-content: center;
    align-items: center;
}

.Menu input,
button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}

button:hover {
    cursor: pointer;
}

.Quiz {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    /* border: 5px dashed currentColor; */
    /* background-color: rgb(113, 111, 102); */
    background: -webkit-linear-gradient(rgb(234, 218, 228), rgb(18, 20, 19));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu,
.Quiz,
.EndScreen h1 {
    color: white;
}

.EndScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: antiquewhite;
    /* background-color: darkblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nextQuestion {
    width: 200px;
}

h3 {
    color: #ffffff;

}

.btt1 {
    margin: 30px;
}

.label {
    color: black;
    font-size: 22px;
    font-family: 'cursive';
    /* margin: 32px; */
    /* margin-left: -130px; */
    margin-right: 132px;
}

.h1 {
    /* background: -webkit-linear-gradient(rgb(216, 71, 177), rgb(160, 146, 138)); */
    /* background: -webkit-linear-gradient(rgb(10, 28, 130), rgb(118, 153, 229)); */
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    font-family: serif;
    background-color: darkblue;
    font-size: 40px;
    font-style: bold;
    font-family: 'cursive';
    margin-top: 7px;
}

.modal-content {
    width: 78% !important;
    order: 5px dashed rgb(232, 146, 25);
    /* margin: 90px !important; */
    margin: 55px;
    margin-top: 150px;
    background: -webkit-linear-gradient(rgb(145, 231, 231), rgb(160, 146, 138)) !important;
}

.currentQuestion {
    font-family: 'cursive';
    font-size: 20px;
}